@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    background-color: #000000;
    color: rgba(255, 255, 255, 0.87);
    font-family: "Montserrat", sans-serif;
    /* margin: 0; */
}

#root{
    margin: 0;
}

.poster_container{
    display: flex;
    width: 100%;
    height: 120vh;
    margin: 0;
}

.poster_conteiner__image{
    width: 70%;
    height: 100%;
    /* outline: 1px solid red; */
    background: linear-gradient(to left, rgba(0,0,0,.1) 0%, rgb(0, 0, 0) 100%), radial-gradient(at bottom left, rgba(0, 0, 0, 0.822) 20%, rgba(0, 0, 0, 0) 50%) #00000052;

}

.poster_image{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    
}

.poster_conteiner__parr {
    /* outline: 1px solid red; */
    /* position: absolute; */
    width: 30%;
    font-size: xx-large;
    font-weight: 100;
    font-style: normal;
}

.poster_parr{
    position: absolute;
    width: 500px;
    margin-left: 120px;
    margin-top: 250px;
}

.poster_title{
    position: absolute;
    width: 500px;
    margin-left: 120px;
    margin-top: 30px;
    font-style: italic;
    font-weight: 200;
    font-size: 75px;
}

.cake_name{
    margin-left: 230px;
    margin-top: 100px;
}

.poster_button{
    display: flex;
    font-size: 15px;
    text-decoration: none;
    position: absolute;
    margin-top: 440px;
    margin-left: 120px;
    height: 50px;
    width: 300px;
    color: #ffffff;
    background: #000000;
    border: 1px solid #ffffff;
    letter-spacing: 7px;
    cursor: pointer;
    transition: background 0.5s ease; /* Añade esta línea para la transición */
    justify-content: center;
    align-items: center;
    /* background: #000000; */
}

.poster_button:hover{
    background: #252525;
    /* background: #000000; */
}



.poster_aboutus{
    display: flex;
    background: #ffffff;
}


.poster_aboutus__image{
    width: 50%;
    height: 100vh;
    /* outline: 1px solid red; */
}

.poster_aboutus__parr{
    width: 50%;
}

.aboutus__image{
    height: 100%;
    margin-left: 100px;
    margin-top: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.aboutus__title{
    margin-top: 100px;
    font-size: large;
    color: #000000;
    font-weight: 300;
    font-size: 60px;
    width: 80%;
    /* outline: 1px solid red; */
}

.aboutus__parr{
    color:#000000;
    font-size: 28px;
    width: 70%;
    font-weight: 300;
    margin-left: 30px;
    
}

.poster_events{
    display: flex;
    background: #ffffff;
}

.poster_events__parr{
    width: 50%;
}

.events__title{
    margin-top: 100px;
    margin-left: 100px;
    font-size: large;
    color: #000000;
    font-weight: 300;
    font-size: 60px;
    width: 100%;
}

.events__parr{
    color:#000000;
    font-size: 30px;
    width: 70%;
    font-weight: 300;
    margin-left: 150px;
}

.poster_events__image{
    width: 50%;
    height: 100%;
}

.events__image{
    height: 600px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 30px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.poster_more{
    display: flex;
    height: min-content;
}

.poster_more__title{
    width: 40%;
}

.poster_more__parr{
    width: 50%;
}

.more__title{
    font-size: 40px;
    margin-left: 100px;
    margin-top: 200px;
}

.more__title_parr{
    margin-left: 100px;
    font-size: 20px;
    font-weight: 200;
}

.poster_more__parr{
    margin-top: 30px;
}

hr{
    width: 200px;
    margin-left: 0;
}

.parr_more{
    display: flex;
    position: relative;
    margin: 20px;
    list-style: none;
    align-content: center;
}

.more__image{
    /* position: absolute; */
    top: 50px;
    height: 100px;
    margin-top: 30px;
    margin-right: 30px;
    width: 80px;
}

.more_picture{
    display: flex;
}

.poster_nice__message{
    display: flex;
    height: max-content;
    background: #ffffff;
    width: 100%;
}

.poster_nice__message__image{
    width: 50%;
    height: 80%;
}

.poster_nice__image{
    height: 460px;
    margin: 50px 100px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    
}

.poster_nice__message__parr{
    width: 50%;
    margin: 30px 0;
}

.nice__message__title{
    color: #000000;
    margin-top: 30px;
    font-size: 40px;
}

.nice__message__parr{
    margin-right: 100px;
    color: #000000;
    font-size: 28px;
    font-weight: 300;
}

.nice__message_button{
    display: flex;
    height: 50px;
    width: 300px;
    color: #222222;
    background: #ffffff;
    border: 1px solid #222222;
    text-decoration: none;
    letter-spacing: 7px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.5s ease; /* Añade esta línea para la transición */
    /* background: #000000; */

}

.nice__message_button:hover{
    background: #a1a1a1;
    /* background: #000000; */
}

.footer_bakery{
    position: relative;
    width: 100%;
    height: 60vh;
}

.footer_bakery__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer_opacity{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background: #000000b4;
}

.footer_opacity > p{
    margin-top:140px;
    margin-left:300px;
    font-size: 25px;
    font-weight: 200;
}

.footer_opacity > a{
    /* margin-top:140px; */
    display: flex;
    margin-left:20px;
    margin-top: 130px;
    width: 300px;
    height: 50px;
    background: none;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    transition: background 0.5s ease; /* Añade esta línea para la transición */
}

.footer_opacity > a:hover{
    cursor: pointer;
    background: #ffffff3d;
}

.footer_container__contact{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 40vh;
    padding-top: 30px;
}

.footer_logo > p{
    font-size: 40px;
    margin-bottom: 10px;
}

.footer_contact > p{
    font-size: 10px;
}

.footer_redes > p{
    font-size: 10px;
}

.footer_redes > a{
    text-decoration: none;
    color: #ffffff;
}

.footer_horarios > P{
    font-size: 10px;
}

.parr_footer{
    margin-top: 50px;
}

.botton-id{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #00000052;
    position:fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    background: #8f8f8f8a;
    z-index: 1;
}

.botton-id > img{
    display: flex;
    margin: 10px auto;
    height: 20px;
}

.container_steps{
    position: relative;
    display: flex;
    width: 70%;
    height: 30px;
    border-top: 2px solid #afafaf;
    border-bottom: 2px solid #afafaf;
    margin: 50px auto;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    /* padding-right: 5px; */
    /* background: #000000; */
    /* z-index: -1; */
}

.prosgres_steps{
    position: absolute;
    z-index: -1;
    height: 100%;
    background: #551f4c;
    transition: width 1s ease-out;
}


.step_rigth{
    margin-right: -5px ;
}

.step_left{
    margin-left: -5px ;
}



.step{
    /* position: static; */
    display: flex;
    border: 3px solid #afafaf;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #000000;
}

.complete{
    background: #551f4c;
    transition: background 2s ease-in-out; /* Añade esta línea para la transición */
    /* border: #0328c9; */
}


.choose_type{
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    animation: show 1s ease;
}

.choose_type > div {
    /* position: relative; */
    width: 33%;
    padding: 10px;
    /* height: 100%; */
    /* margin: 0 auto; */
}

.type_cake {
    display: flex;
    position: absolute;
    /* justify-content: center; */
}

.choose{
    margin-top: 5px;
    height: 200px;
    width: 80%;
    object-fit: cover;
    transition: transform 0.3s ease; /* Añade esta línea para la transición */
    /* position: absolute; */
}

.choose:hover{
    transform: scale(1.1);
}

.button_choose{
    width: 100%;
    border: none;
    cursor: pointer;
    background: none;
}

.button_choose > h3 {
    color: #ffffff;
}

.layout_title{
    font-size: 25px;
    font-weight: 200;
    margin: 50px 90px;
    animation: show 1s ease;
}

.layout_steps{
    font-size: 25px;
    margin-top: 60px;
    font-weight: 200;
    animation: show 1s ease;
}

.layout_steps::after{
    content: "";
    display: block;
    height: 4px;
    background: crimson;
    width: 200px;
    margin-top: 20px;
    animation: show 1s ease;
}

.container_steps__title{
    /* outline: 1px solid red; */
    display: flex;
    height: 100px;
    width: 80%;
    justify-content: left;
    align-items: center;
    margin-bottom: 30px;
    font-size:30px;
    padding-left: 50px;
}

.second_step_form {
    
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    animation: show 2s ease; /* Añade esta línea para la transición */
}

.second_step_form > div {
    /* position: relative; */
    display: flex;
}


.second_step_form > div > div{
    width: 50%;
    display: grid;
    padding-left: 100px;
}

.second_step_form > div > div > label {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 200;

}

.second_step_form > div > div > select {
    height: 40px;
    width: 70%;
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    background: #252525;
    color: #afafaf;
    padding-left: 20px;
    transition: background 0.3s ease; /* Añade esta línea para la transición */
}

.second_step_form > div > div > select:hover {
    background: #20121e;
}

.second_step_form > div {
    display: flex;
    /* justify-content: space-between; */
}

.buttons-container-second{
    justify-content: space-between;
}

.boton-order {
    display: flex;
    height: 50px;
    width: 100px;
    margin: 0 60px 0 100px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 200;
    border: none;
    border-radius: 30px;
    background: #303030dc;
    color: #a1a1a1;
    transition: background 0.3s ease; /* Añade esta línea para la transición */
}

.boton-order:hover{
    cursor: pointer;
    background: #551f4c;
    
}

.container_colors{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.div-buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container_step_third{
    margin: 25px auto;
    display: flex;
    width: 70%;
    height: 70%;
    justify-content: space-evenly;
    background: #1a1a1a;
    animation: show 1s ease;

}

.container_step_third > div {
    display: block;
    width: 100%;
    height: 100%;
    /* outline: 1px solid red; */
    padding: 20px 0;
}

.container_step_third > div > table {
    display: flex;
    width: 100%;
    /* height: 200px; */
    /* outline: 1px solid red; */
    justify-content: center;
    animation: show 2s ease; /* Añade esta línea para la transición */
}

.container_step_third > div > table > thead > tr > th {
    width: 130px;
    height: 50px;
    font-weight: 400;
    transition: transform 0.3s ease; /* Añade esta línea para la transición */
}

.container_step_third > div > table > tbody {
    display: flex;
    /* width: 100%; */

}

.container_step_third > div > table > tbody > tr > th {
    width: 130px;
    height: 50px;
    transition: transform 0.3s ease; /* Añade esta línea para la transición */
    /* font-weight: 500; */
}

/* .container_step_third > div > table > tbody > tr{
    position: relative;
} */

.color-selected{
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e4dede4f;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 0;
    animation: show .5s ease; 
    font-size: 25px;
}

.container_step_third > div > table > thead > tr > th:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.container_step_third > div > table > tbody > tr > th:hover {
    transform: scale(1.3);
    cursor: pointer;
}


.container_img{
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
    overflow: hidden;
    animation: show 1s ease;
    background: #1a1a1a;
}

.gallery_grid{
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 5px;
    /* grid-auto-rows: 300px; */
}

.gallery_picture{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery_img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: show 3s ease;
    transition: transform 0.3s ease; /* Añade esta línea para la transición */
}

.gallery_img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.image-selected{
    display: flex;
    position:absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #21093f79;
    animation: show .5s ease;
}

/* Calendar.css */

.calendar{
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    overflow: hidden;
    animation: show 1s ease;
    /* border: 1px solid #ffffff; */
    border-radius: 20px;
    padding: 20px;
    /* background: #7b149252; */
}

.calendar-header{
    margin: 20px auto;
    height: 40px;
    width: 37rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #693a6194;
    border-radius: 30px;
    /* outline: 1px solid red; */
}

.calendar-header > h2{
    display: flex;
    /* outline: 1px solid red; */
    width: 300px;
    justify-content: center;
}

.calendar-header > button {
    width: 40px;
    height: 30px;
    border-radius: 10%;
    border: 2px solid #000000;
    background: #693a6194;
    color:#ffffff;
    transition: background 0.7s ease; /* Añade esta línea para la transición */
}

.calendar-header > button:hover {
    background: #3d3d3d;
    cursor: pointer;
}

.calendar-grid{
    display: grid;
    /* outline: 1px solid red; */
    grid-template-columns: repeat(7, minmax(10px, 85px));
    grid-template-rows: minmax(40px, 1fr);
    justify-content: center;
}

.calendar-day-name{
    display: flex;
    flex-direction: column;
    /* outline: 1px solid red; */
    justify-content: center;
    align-items: center;
    /* height: 30px; */
}

.calendar-day{
    display: flex;
    /* outline: 1px solid red; */
    background: #25252577;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 1px solid #000000;
    transition: border 0.3s ease; /* Añade esta línea para la transición */
    transition: background 0.5s ease; /* Añade esta línea para la transición */
    
}

.calendar-day:hover{
    cursor: pointer;
    border: 1px solid #3d3d3d;
    background: #693a6194;
}

.day-undefine{
    background:none
}

.day-undefine:hover{
    background: none;
    cursor:default;
    border: none;
}

.disabled{
    pointer-events: none; /* Previene todos los eventos del mouse */
    opacity: 0.5; /* Hace que el elemento parezca deshabilitado */
    background-color: #dddddda6; /* Cambia el color de fondo para indicar que está deshabilitado */
    color: #ffffff;
}

.selected{
    background: #693a6194;
}

.container__date_and_hour{
    display: flex;
    flex-direction: column;
}

.hoursChoose{
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: center;
    
}

.hours_input_select{
    width: 80px;
    height: 40px;
    margin-left: 10px;
    background: #252525;
    border: none;
    color: #ffff;
    border: 1px solid #3d3d3d;
    transition: background 0.5s ease; /* Añade esta línea para la transición */
    padding-left: 10px;
}

.hours_input_select:hover{
    cursor: pointer;
}

.hours_input_select:focus{
    /* transition: outline 1s ease; */
    outline: 1px solid #3d3d3d;
}

.container_msj__fiveStep{
    display: flex;
    justify-content: center;
}

.five_step__container{
    display: grid;
    width: 30rem;
    margin: 35px auto;
    gap: 8px;
    animation: show 1s ease;
}

.five_step__container > label{
    margin-top: 5px;
}

.five_step__container > input{
    height: 30px;
    background: #3d3d3d;
    border: none;
    color: #ffffff;
    padding-left: 15px;
    border: 2px solid #252525;
    transition: background 0.5s ease; /* Añade esta línea para la transición */
}

.five_step__container > input:hover { 
    background: #693a6194;
    /* outline: none; */
}

.five_step__container > input:focus { 
    outline: none;
}

.five_step__container > textarea{
    color: #ffffff;
    padding-left: 15px;
    display: flex;
    height: 150px;
    background: #3d3d3d;
    border: 2px solid #252525;
    transition: background 0.5s ease; /* Añade esta línea para la transición */
}

.five_step__container > textarea:focus { 
    outline: none;
}

.five_step__container > textarea:hover { 
    background: #693a6194;
    /* outline: none; */
}


@keyframes show {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.pagination {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

  }
  
  .pagination button {
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    background:#706e6e;

  }
  
  .pagination span {
    margin: 0 10px;
  }

  .container-loading{
    display: flex;
    position: relative;
    width: 100%;
    height:300px;
    align-items: center;
    justify-content: center;
    z-index: 0;
    animation: show 2s ease;
  }

  .container-loading > h4{
    position: absolute;
    top: 270px;
  }

  .laading-order{
    position: absolute;
    width: 50px;
    height: 50px;
    border: 8px solid white;
    border-radius: 50%;
    top: 200px;
  }

  .loading-into{
    position: absolute;
    width: 54px;
    height: 54px;
    border-top: 5px solid #551f4c;
    border-bottom: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
    border-radius: 50%;
    animation: spiner .9s linear infinite;
    top: 200px;
  }

  .contact__show_msj {
    position: absolute;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    /* border-radius: 5px; */
    width: 25rem;
    height: 2.2rem;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    margin: 0 auto;
    /* grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr); */
    animation-name: animacion;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.19, 1, 0, 1);
    
}

@keyframes animacion {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.close__msj {
    display: flex;
    position: absolute;
    /* top: -8px;
    right: -8px; */
    height: 20px;
    width: 20px;
    border-radius: 60%;
    border-style: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.close__msj:hover{
    transition: .5s;
    background-color: #550b0b;
}

.ok {
    background-color: rgba(23, 21, 131, 0.842);
}

.error {
    background-color: rgba(236, 16, 16, 0.637);
    
}

.contact__text {
    margin: 10px;
}

.input--off{
    outline: 1px solid red;
}

  @keyframes spiner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.payment_container{
    display: flex;
    width: 90%;
    height: max-content;
    
    /* align-items: center; */
    /* outline: 1px solid red; */
    margin: 0 auto;
}

.payment_container > * {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
}

.client_data__confirm{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:self-start;
    border: 1px solid rgba(116, 114, 114, 0.527);
    border-radius: 20px;
    padding-left: 15px;
    height: 100%;
    /* width: 50%; */
}

.success_transaction{
    position: absolute;
    background: #1d8803;
    width: 100%;
    height: 100%;
    display: flex;
    /* top: -30px; */
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 30px auto; */
    animation-name: success;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.19, 1, 0, 1);
}

.success_transaction > p {
    font-size: 20px;
    margin-top: 30px;
    font-weight: 300;
}

.success_transaction > h1 {
    margin-top: 30px;
}


.error_transaction {
    position: absolute;
    background: #b40f0f;
    width: 100%;
    height: 100%;
    display: flex;
    top: -30px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    animation-name: success;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.19, 1, 0, 1);
}

.error_transaction > h4 {
    font-size: 20px;
    margin-top: 30px;
    font-weight: 300;
}

.error_transaction > h1 {
    margin-top: 30px;
}



@keyframes success {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@media screen and (max-width: 1030px) {

    #root{
        margin: 0;
        /* width: 100%; */
    }
    .poster_container {
        flex-direction: column;
        margin: 0;
        /* width: 100%; */
        height: 100vh;
    }

    .poster_conteiner__image{
        background: linear-gradient(to top, rgba(0,0,0,.1) 0%, rgb(0, 0, 0) 100%), radial-gradient(at bottom left, rgba(0, 0, 0, 0.822) 20%, rgba(0, 0, 0, 0) 20) #00000052;
        width: 100%;
    }
    .poster_button{
        background: #00000036;
        width: 30%;
        font-size: 5px;
    }

    .poster_title{
        font-size: 60px;
        margin-top: 60px;
    }

    .cake_name{
        margin-top: 120px;
    }

    .poster_parr{
        margin-top: 250px;
        font-size: 40px;
        width: 60%;
        font-weight: 100;
    }

    .poster_button{
        margin-top: 450px;
        width: 50%;
        font-size: 20px;
        height: 60px;
    }
    .poster_image{
        object-fit: cover;
    }
    
    .poster_aboutus{
        /* flex-direction: column; */
        width: 100%;
        align-items: center;
    }

    .poster_aboutus__image{
        display: flex;
        width: 100%;
        justify-content: center;
        /* margin: 0; */
    }

    .aboutus__image{
        width: 90%;
        object-fit: cover;
        margin: 20px 0;
    }

    .poster_aboutus__parr{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .aboutus__parr{
        width: 90%;
        margin-bottom: 100px;
    }

    .aboutus__title{
        width: 90%;
        font-size: 55px;
    }

    .poster_events{
        /* flex-direction: column-reverse; */
        width: 100%;
        /* justify-content: center; */
        align-items: center;
    }

    .events__title{
        font-size: 3rem;
        margin-top: 60px;
        width: 90%;
        margin-left: 20px;
    }

    .poster_events__parr{
        width:70%;

    }

    .events__parr{
        width: 100%;
        margin-left: 20px;
        margin-bottom: 100px;
    }

    .events__image{
        width: 95%;
        object-fit: cover;
        margin: 20px 0;
    }

    .poster_more{
        width: 100%;
        flex-direction: column;
        background: #161616;
    }

    .poster_more__title{
        width: 80%;
        font-size: 20px;
        
    }

    .more__title{
        margin-bottom: 30px;
    }

    .more__title_parr{
        margin-bottom: 30px;
    }

    .poster_more__parr {
        margin-bottom: 150px;
    }

    .poster_nice__message{
        flex-direction: column;
        width: 100%;
        /* font-size: 20px; */
        align-items: center;
        
        
    }

    .poster_nice__image{
        margin-bottom: 0;
    }

    .nice__message__title{
        margin-bottom: 30px;
    }

    .nice__message__parr{
        font-size: 25px;
        margin-bottom: 30px;
    }


    #ab-06{
        width: 100%;
    }

    .footer_bakery{
        width: 100%;
    }


    .footer_opacity{
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
    }

    .footer_opacity > p{
        margin: 0;
        font-size: 25px;
        font-weight: 200;
    }

    .footer_opacity > a{
        margin-top: 20px;
        /* width: 80%; */
        height: 40px;
        font-size: 13px;
    }

    .footer_container__contact {
        flex-direction: column;
        align-items: center;
        background: #1e88036c;
        height: max-content;
    }

    .footer_logo {
        display: flex;
        width: 100%;
        justify-content: center;
        /* height: 100px; */
    }

    .footer_horarios {
        padding-top: 30px;
        width: 300px;
    }

    .footer_contact {
        width: 300px;
    }

    .footer_redes {
        width: 300px;
        padding-bottom: 30px;
    }


}


@media screen and (max-width: 800px) {

    #root{
        margin: 0;
        /* width: 100%; */
    }



    .poster_container {
        flex-direction: column;
        margin: 0;
        width: 100%;
        justify-content: flex-start;
        height: 40rem;
    }

    .poster_title {
        display: flex;
        width: 50%;
        margin: 30px 0 30px 80px;
        align-items: center;
        font-size: 80px;

    }

    .poster_parr{
        margin: 250px 0 30px 80px;
    }

    .cake_name {
        top: 80px;
        font-size: 80px;
    }

    .poster_button{
        display: flex;
        background: #00000036;
        width: 70%;
        font-size: 20px;
        margin: 500px 0 0 80px;
        justify-content: center;
        
    }

    
    .poster_aboutus{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }


    .aboutus__image{
        width: 70%;
    }

    .aboutus__title{
        width: 90%;
        font-size: 45px;
        margin-bottom: 30px;
    }

    .poster_events{
        flex-direction: column-reverse;
    }

    .events__title{
        font-size: 2em;
        margin-bottom: 30px;
    }

    .poster_more{
        width: 100%;
        flex-direction: column;
        background: #161616;
    }

    .poster_more__title{
        width: 80%;
        font-size: 20px;
    }

    /* .poster_more__parr{
        margin-bottom: 100px;
    } */

    .poster_nice__message__image{
        width: 60%;
        margin-top: 30px;
    }

    .poster_nice__message__parr{
        width: 70%;
        margin-top: 30px;
    }

    .nice__message__title{
        margin-bottom: 20px;
    }

    .nice__message__parr{
        margin-bottom: 20px;
    }

    .poster_nice__image{
        width: 100%;
        margin: 0;
    }

    .nice__message__parr{
        font-size: 25px;
    }


    .footer_opacity{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer_opacity > p{
        margin: 0;
        font-size: 25px;
        font-weight: 200;
    }

    .footer_opacity > a{
        margin-top: 20px;
        /* width: 80%; */
        height: 40px;
        font-size: 13px;
    }


    .botton-id {
        display: none;
    }

    .choose_type {
        /* display: flex; */
        flex-direction: column;
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .choose_type > div {
        width: 100%;
    }

    .options_second__step{
        display: flex;
        flex-direction: column;
    }

    .second_step_form > div > div{
        width: 100%;
        margin: 0;
    }

    .options_second__step >div>select{
        height: 500px;
    }

    .payment_container {
        display: flex;
        flex-direction: column-reverse;
    }

    .client_data__confirm{
        width: 100%;
    }

    #paymentBrick_container{
        width: 100%;

        margin-top: 30px;
    }

    .success_transaction > p {
        font-size: 15px;
        margin-top: 30px;
        font-weight: 200;
        width: 80%;
        text-align: center;
    }
    
    .success_transaction > h1 {
        margin-top: 30px;
        font-size: 20px;
        text-align: center;
        width: 80%;
    }

    .error_transaction > h4 {
        font-size: 15px;
        margin-top: 30px;
        font-weight: 300;
        width: 80%;
        text-align: center;
        
    }
    
    .error_transaction > h1 {
        text-align: center;
        margin-top: 30px;
        font-size: 20px;
        width: 80%;
    }
    



}



@media screen and (max-width: 600px) {


    .poster_container {

        height: 140vh;
    }

    .poster_title {
        width: 50%;
        margin: 100px 0 30px 60px;
        font-size: 60px;

    }

    .poster_parr{
        margin: 330px 0 30px 60px;
        font-size: 35px;
    }

    .cake_name {
        top: 60px;
        font-size: 70px;
    }

    .poster_button{
        width: 80%;
        font-size: 20px;
        margin: 650px 0 0 40px;
        
    }

    .aboutus__image{
        width: 95%;
    }

    .poster_events__image{
        display: flex;
        width: 95%;
        justify-content: center;
    }

    .poster_nice__message__image{
        width: 95%;
    }

    .poster_nice__message__parr{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-top: 30px;
        justify-content: center;
        align-items: center;
    }

    .nice__message__title{
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .nice__message__parr{
        width: 100%;
        text-align: center;
        margin: 0 0 30px 0;
    }

    .poster_nice__image{
        object-fit: cover;
    }

    .footer_horarios > p{
        font-size: 20px;
    }

    .footer_contact > p{
        font-size: 20px;
    }
    .footer_redes > p{
        font-size: 20px;
    }

    .parr_footer {
        width: 90%;
    }


}